#users-page[b-sr1oe81pfy] {
    display: flex;
    flex-direction: column;
}

#table-container[b-sr1oe81pfy] {
    display: grid;
}

h1[b-sr1oe81pfy] {
    align-self: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: cursive;
}

table[b-sr1oe81pfy], td[b-sr1oe81pfy], th[b-sr1oe81pfy] {
    padding: 0 20px 0 20px;
}

tr[b-sr1oe81pfy] {
    border: 1px solid black;
}

#choose-container[b-sr1oe81pfy] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choose-btn[b-sr1oe81pfy] {
    width: 200px;
    height: 100px;
    margin: 50px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: #27296d;
    color: white;
}

.buttons-search-container[b-sr1oe81pfy] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buttons-container[b-sr1oe81pfy] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.sorting-btn[b-sr1oe81pfy] {
    border: none;
    border-radius: 10px;
    width: auto;
    height: 35px;
    background-color: #27296d;
    color: white;
    font-weight: bold;
}

    .sorting-btn:hover[b-sr1oe81pfy] {
        background-color: purple;
        color: white;
    }

#search-btn[b-sr1oe81pfy] {
    border: none;
    width: 100px;
    height: 30px;
    background-color: #27296d;
    color: white;
    font-weight: bold;
}

#search-btn:hover[b-sr1oe81pfy] {
        background-color: purple;
}

