@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div id="home-page">
	<h1>@title</h1>
	@if (showBtn)
	{
		<button @onclick="BtnClick">Press Me!</button>
	}
	<h5><em>@name</em></h5>
</div>