@page "/todos/"
@rendermode InteractiveServer
@inject UserHelper UserHelper
@inject TodoService TodoService

<h3>@UserHelper.SelectedUser.Name</h3>

@if (todos == null | !todos.Any())
{
	<p>Loading...</p>
}
@foreach (var t in todos)
{
	if (t.userId == UserHelper.SelectedUser.Id)
	{
		<p>@t.title</p>
	}
}

@code {
	List<Todo> todos = new List<Todo>();

	protected override async Task OnInitializedAsync()
	{
		todos = await TodoService.GetTodoListAsync();
	}
}
